@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 12, 27);
}
.container{
    width: 850px;
    display: flex;
    background-color: rgb(28, 25, 56);
    border-radius: 5px;
}
.text_side{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 40px;
}
h1{
    color: white;

}
h1 span{
    color: rgb(166, 89, 217);
}
p{
    color: white;
    margin: 25px 0;
    font-size: small;
    font-weight: 200;
}
#sp1{
    color: white;
    font-weight: 900;
    margin-bottom: 8px;
}
#sp2{
    color: white;
    font-size: xx-small;
    font-weight: 100;
    letter-spacing: 1px;
}
.img_side{
    width: 50%;
    background-image: url(./images/image-header-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: purple;
    border-radius: 0 5px 5px 0;
}
.numbers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 20px 0;
}
.numbers div{
    display: flex;
    flex-direction: column;
   /* justify-content: start;
    align-items: center;*/
    
}
.purple{
    width: 100%;
    height: 100%;
    background-color: rgba(160, 68, 218, 0.61);
}


/*responsive for mobile*/
@media only screen and (max-width:600px){
    
    .container{
        width: 300px;
        height: 90vh;
        display: flex;
        flex-direction: column-reverse;
    }
    .img_side{
        width: 300px;
        height: 30%;
        background-image: url(./images/image-header-mobile.jpg);
        background-size: cover;
        border-radius: 5px 5px 0 0;

        
    }
    .text_side{
        width: 300px;
        height: 70%;
        background-size: contain;
        padding: 25px;
        
    }
    .numbers{
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0;
        
    }
    .numbers div{
        align-items: center;
        margin: 10px 0;
    }
    #sp1{
        font-size: larger;
    }
    #sp2{
        font-size: small;
        font-weight: 100;
    }
    h1{
        font-size: x-large;
        text-align: center;
    }
    p{
        text-align: center;
        font-size: medium;
        font-weight: 100;
        padding: 0;
    }
    
}